In [1]:
from bs4 import BeautifulSoup

In [2]:
import pandas as pd
import numpy as np

In [3]:
import requests

In [6]:
url = 'https://www.fantasy-liga.com/en/team-profile/Barcelona/4'
r = requests.get(url)

In [7]:
r.text[0:500]

'\n<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">\n<html xmlns="http://www.w3.org/1999/xhtml">\n\n<head>\n<title>Fantasy Liga -  profile, fixtures and statistics</title>\n<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />\n<meta name="description" content=" profile, statistics, best players and fixtures">\n<meta name="robots" content="noodp">\n<link href="//www.fantasy-liga.com/css/mainstyle2015_1.css" rel="style'

In [8]:
soup = BeautifulSoup(r.text,'html.parser')

In [10]:
res = soup.find_all('table',attrs={'class':'tablesorter'})

In [17]:
fr = res[0]

In [58]:
results = fr.find_all('tr')

In [137]:
results = results[1:]

In [138]:
first_res = results[0]

In [139]:
name = first_res.select('td')[3].text
name

'Marc-Andre ter Stegen'

In [140]:
val = float(first_res.select('td')[4].text)
val

17.0

In [141]:
min = float(first_res.select('td')[5].text)
min

1620.0

In [142]:
starts = float(first_res.select('td')[6].text)
starts

18.0

In [143]:
goals = float(first_res.select('td')[8].text)
goals

0.0

In [144]:
assists = float(first_res.select('td')[13].text)
assists

0.0

In [145]:
clean_sheet = float(first_res.select('td')[17].text)
clean_sheet

12.0

In [136]:
points = float(first_res.select('td')[18].text)
points

99.0

In [146]:
url = 'https://www.fantasy-liga.com/en/team-profile/Barcelona/4'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))

In [147]:
records

[('Marc-Andre ter Stegen', 17.0, 1620.0, 18.0, 0.0, 0.0, 12.0, 99.0),
 ('Jasper Cillessen', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Adria Ortola', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Jordi Alba', 13.0, 1428.0, 16.0, 1.0, 6.0, 11.0, 99.0),
 ('Gerard Pique', 7.8, 1170.0, 13.0, 1.0, 0.0, 8.0, 61.0),
 ('Sergi Roberto', 10.5, 1130.0, 12.0, 1.0, 6.0, 10.0, 90.0),
 ('Samuel Umtiti', 5.5, 1062.0, 12.0, 0.0, 0.0, 7.0, 50.0),
 ('Nelson Semedo', 3.0, 621.0, 7.0, 0.0, 0.0, 3.0, 32.0),
 ('Javier Mascherano', 2.7, 541.0, 6.0, 0.0, 0.0, 5.0, 34.0),
 ('Thomas Vermaelen', 3.5, 468.0, 5.0, 0.0, 0.0, 4.0, 25.0),
 ('Aleix Vidal', 2.5, 347.0, 3.0, 1.0, 1.0, 4.0, 38.0),
 ('Lucas Digne', 2.0, 192.0, 2.0, 0.0, 1.0, 1.0, 13.0),
 ('Marc Cucurella', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('David Costas', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Ivan Rakitic', 15.0, 1452.0, 16.0, 0.0, 3.0, 12.0, 68.0),
 ('Sergio Busquets', 11.5, 1313.0, 15.0, 1.0, 2.0, 9.0, 58.0),
 ('Andres Iniesta', 6.5, 1041.0, 14.0, 1.0, 0.0, 9.0, 55.0),
 ('Paulinho', 9.0, 922.0, 10.0, 7.0, 2.0, 7.0, 81.0),
 ('Denis Suarez', 2.5, 383.0, 3.0, 2.0, 2.0, 2.0, 35.0),
 ('Andre Gomes', 3.0, 259.0, 2.0, 0.0, 0.0, 1.0, 13.0),
 ('Ousmane Dembele', 3.5, 118.0, 2.0, 0.0, 1.0, 1.0, 10.0),
 ('Oriol Busquets', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Carles Alena', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Rafinha', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Arda Turan', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Philippe Coutinho', 4.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Lionel Messi', 30.0, 1620.0, 18.0, 14.0, 7.0, 0.0, 127.0),
 ('Luis Suarez', 24.0, 1342.0, 15.0, 11.0, 1.0, 0.0, 85.0),
 ('Gerard Deulofeu', 2.0, 494.0, 5.0, 1.0, 1.0, 0.0, 26.0),
 ('Paco Alcacer', 2.0, 336.0, 4.0, 2.0, 2.0, 0.0, 29.0),
 ('Jose Arnaiz', 2.0, 5.0, 0.0, 0.0, 0.0, 0.0, 1.0)]

In [149]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])

In [151]:
df.to_csv('Barca.csv',index=False)

In [152]:
url = 'https://www.fantasy-liga.com/en/team-profile/Atletico-Madrid/3'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))

In [153]:
records

[('Jan Oblak', 16.5, 1620.0, 18.0, 0.0, 0.0, 11.0, 91.0),
 ('Miguel Angel Moya', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Axel Werner', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Stefan Savic', 13.0, 1370.0, 15.0, 0.0, 0.0, 10.0, 64.0),
 ('Diego Godin', 15.3, 1350.0, 15.0, 0.0, 0.0, 9.0, 63.0),
 ('Filipe Luis', 13.2, 981.0, 11.0, 1.0, 1.0, 6.0, 55.0),
 ('Lucas Hernandez', 3.5, 822.0, 9.0, 0.0, 1.0, 7.0, 47.0),
 ('Juanfran', 2.1, 688.0, 8.0, 0.0, 0.0, 5.0, 31.0),
 ('Sime Vrsaljko', 3.5, 543.0, 6.0, 0.0, 3.0, 4.0, 35.0),
 ('Jose Gimenez', 2.0, 519.0, 5.0, 1.0, 0.0, 1.0, 26.0),
 ('Sergio Gonzalez', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Antonio Montoro', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Saul Niguez', 15.0, 1492.0, 17.0, 2.0, 2.0, 10.0, 65.0),
 ('Koke', 15.0, 1348.0, 15.0, 2.0, 2.0, 9.0, 61.0),
 ('Gabi', 13.2, 1346.0, 15.0, 0.0, 1.0, 10.0, 49.0),
 ('Thomas Partey', 8.0, 1171.0, 14.0, 2.0, 0.0, 9.0, 56.0),
 ('Vitolo', 3.5, 690.0, 8.0, 1.0, 0.0, 1.0, 24.0),
 ('Yannick Carrasco', 13.2, 666.0, 6.0, 3.0, 3.0, 4.0, 48.0),
 ('Nicolas Gaitan', 2.0, 216.0, 1.0, 0.0, 0.0, 1.0, 10.0),
 ('Augusto Fernandez', 2.0, 84.0, 1.0, 0.0, 0.0, 1.0, 6.0),
 ('Keidi Bare', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Roberto Olabe', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Antonio Moya', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Antoine Griezmann', 20.5, 1284.0, 15.0, 5.0, 4.0, 0.0, 65.0),
 ('Angel Correa', 9.5, 1106.0, 14.0, 5.0, 1.0, 0.0, 63.0),
 ('Kevin Gameiro', 9.8, 509.0, 6.0, 3.0, 1.0, 0.0, 37.0),
 ('Fernando Torres', 4.9, 344.0, 2.0, 1.0, 0.0, 0.0, 19.0),
 ('Diego Costa', 2.0, 90.0, 1.0, 1.0, 0.0, 0.0, 4.0),
 ('Alberto Rodenas', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)]

In [154]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])

In [155]:
df.to_csv('Atletico.csv',index=False)

In [156]:
url = 'https://www.fantasy-liga.com/en/team-profile/Espanyol/8'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Pau Lopez', 7.0, 1620.0, 18.0, 0.0, 0.0, 6.0, 61.0),
 ('Diego Lopez', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Adrian Lopez', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Aaron Martin', 8.0, 1620.0, 18.0, 0.0, 0.0, 6.0, 54.0),
 ('Mario Hermoso', 5.0, 1350.0, 15.0, 0.0, 0.0, 6.0, 46.0),
 ('Naldo', 2.0, 315.0, 3.0, 0.0, 0.0, 0.0, 6.0),
 ('Javi Lopez', 2.5, 285.0, 4.0, 0.0, 0.0, 2.0, 15.0),
 ('Oscar Duarte', 2.0, 180.0, 2.0, 0.0, 0.0, 1.0, 8.0),
 ('Marc Navarro', 2.0, 170.0, 1.0, 0.0, 0.0, 2.0, 12.0),
 ('Sergio Sanchez', 2.0, 101.0, 1.0, 0.0, 0.0, 0.0, 2.0),
 ('Didac Vila', 2.0, 55.0, 0.0, 0.0, 0.0, 0.0, 3.0),
 ('David Lopez', 14.3, 1620.0, 18.0, 0.0, 0.0, 6.0, 42.0),
 ('Sergi Darder', 7.0, 1407.0, 16.0, 1.0, 0.0, 6.0, 46.0),
 ('Javi Fuego', 6.0, 1300.0, 16.0, 0.0, 0.0, 6.0, 38.0),
 ('Victor Sanchez', 4.5, 1075.0, 13.0, 0.0, 1.0, 4.0, 33.0),
 ('Pablo Piatti', 12.5, 1062.0, 14.0, 1.0, 2.0, 4.0, 50.0),
 ('Jose Manuel Jurado', 9.5, 1039.0, 13.0, 0.0, 2.0, 4.0, 41.0),
 ('Esteban Granero', 2.5, 328.0, 1.0, 0.0, 1.0, 0.0, 12.0),
 ('Oscar Melendo', 2.0, 126.0, 0.0, 0.0, 0.0, 0.0, 6.0),
 ('Marc Roca', 2.0, 100.0, 1.0, 0.0, 0.0, 0.0, 5.0),
 ('Gerard Moreno', 16.1, 1620.0, 18.0, 6.0, 0.0, 0.0, 67.0),
 ('Leo Baptistao', 7.5, 1333.0, 16.0, 3.0, 3.0, 0.0, 58.0),
 ('Sergio Garcia', 6.0, 711.0, 6.0, 1.0, 2.0, 0.0, 34.0),
 ('Hernan Perez', 2.2, 140.0, 1.0, 0.0, 0.0, 0.0, 4.0)]

In [157]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])

In [159]:
df.to_csv('espanyol.csv',index=False)

In [160]:
url = 'https://www.fantasy-liga.com/en/team-profile/Real-Sociedad/17'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Geronimo Rulli', 9.5, 1530.0, 17.0, 0.0, 0.0, 2.0, 37.0),
 ('Tono Ramirez', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Alvaro Odriozola', 6.5, 1463.0, 16.0, 0.0, 4.0, 2.0, 50.0),
 ('Kevin Rodrigues', 4.5, 1092.0, 12.0, 1.0, 2.0, 2.0, 41.0),
 ('Diego Llorente', 3.5, 1070.0, 12.0, 2.0, 0.0, 1.0, 32.0),
 ('Inigo Martinez', 7.5, 876.0, 10.0, 1.0, 1.0, 0.0, 32.0),
 ('Aritz Elustondo', 2.0, 724.0, 8.0, 2.0, 1.0, 2.0, 38.0),
 ('Raul Navas', 2.5, 442.0, 5.0, 0.0, 1.0, 1.0, 16.0),
 ('Alberto de la Bella', 2.0, 360.0, 4.0, 0.0, 0.0, 1.0, 10.0),
 ('Andoni Gorosabel', 2.0, 67.0, 1.0, 0.0, 0.0, 0.0, 1.0),
 ('Carlos Martinez', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Asier Illarramendi', 9.5, 1440.0, 16.0, 3.0, 3.0, 2.0, 58.0),
 ('Xabi Prieto', 15.8, 1411.0, 17.0, 2.0, 3.0, 2.0, 60.0),
 ('David Zurutuza', 5.5, 1086.0, 13.0, 0.0, 0.0, 1.0, 31.0),
 ('Adnan Januzaj', 3.5, 669.0, 8.0, 2.0, 3.0, 0.0, 38.0),
 ('Igor Zubeldia', 2.0, 624.0, 6.0, 1.0, 0.0, 1.0, 19.0),
 ('Sergio Canales', 4.5, 504.0, 5.0, 0.0, 0.0, 0.0, 23.0),
 ('Ruben Pardo', 2.0, 21.0, 0.0, 0.0, 0.0, 0.0, 2.0),
 ('Ander Guevara', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Jon Guridi', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Willian Jose', 12.5, 1428.0, 17.0, 5.0, 1.0, 0.0, 67.0),
 ('Mikel Oyarzabal', 13.2, 1146.0, 13.0, 6.0, 3.0, 0.0, 62.0),
 ('Juanmi', 9.6, 507.0, 6.0, 3.0, 0.0, 0.0, 33.0),
 ('Jon Bautista', 2.0, 63.0, 0.0, 0.0, 0.0, 0.0, 4.0),
 ('Imanol Agirretxe', 2.0, 29.0, 0.0, 0.0, 0.0, 0.0, 3.0)]

In [163]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])
df.head()

,DecodedName,FantasyLeagueVal,C_Mins,C_Apps,C_Goals,C_Assists,C_Clean_Sheets,FantasyLeaguePoints
0,Geronimo Rulli,9.5,1530.0,17.0,0.0,0.0,2.0,37.0
1,Tono Ramirez,2.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Alvaro Odriozola,6.5,1463.0,16.0,0.0,4.0,2.0,50.0
3,Kevin Rodrigues,4.5,1092.0,12.0,1.0,2.0,2.0,41.0
4,Diego Llorente,3.5,1070.0,12.0,2.0,0.0,1.0,32.0

In [164]:
df.to_csv('sociedad.csv',index=False)

In [165]:
url = 'https://www.fantasy-liga.com/en/team-profile/Athletic-Bilbao/2'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Kepa Arrizabalaga', 3.5, 1260.0, 14.0, 0.0, 0.0, 4.0, 40.0),
 ('Iago Herrerin', 3.5, 360.0, 4.0, 0.0, 0.0, 4.0, 27.0),
 ('Unai Simon', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Unai Nunez', 6.5, 1530.0, 17.0, 0.0, 0.0, 7.0, 52.0),
 ('Aymeric Laporte', 10.5, 1530.0, 17.0, 0.0, 0.0, 7.0, 51.0),
 ('Mikel Balenziaga', 8.1, 1058.0, 12.0, 0.0, 2.0, 5.0, 44.0),
 ('Inigo Lekue', 5.5, 1025.0, 10.0, 0.0, 0.0, 5.0, 41.0),
 ('Eneko Boveda', 2.0, 523.0, 6.0, 0.0, 1.0, 1.0, 17.0),
 ('Enric Saborit', 2.5, 472.0, 5.0, 0.0, 0.0, 3.0, 23.0),
 ('Oscar De Marcos', 3.5, 471.0, 7.0, 0.0, 0.0, 4.0, 28.0),
 ('Xabier Etxeita', 2.5, 180.0, 2.0, 1.0, 0.0, 2.0, 15.0),
 ('Yeray Alvarez', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Raul Garcia', 16.8, 1317.0, 15.0, 3.0, 1.0, 8.0, 65.0),
 ('Markel Susaeta', 6.5, 1092.0, 12.0, 1.0, 2.0, 6.0, 48.0),
 ('Mikel San Jose', 9.4, 1027.0, 12.0, 0.0, 0.0, 6.0, 32.0),
 ('Ander Iturraspe', 3.0, 843.0, 9.0, 0.0, 0.0, 2.0, 23.0),
 ('Mikel Vesga', 2.0, 630.0, 8.0, 1.0, 1.0, 2.0, 23.0),
 ('Inigo Cordoba', 3.5, 621.0, 8.0, 0.0, 0.0, 2.0, 24.0),
 ('Mikel Rico', 3.0, 575.0, 6.0, 0.0, 0.0, 4.0, 18.0),
 ('Benat Etxebarria', 2.6, 248.0, 2.0, 0.0, 0.0, 2.0, 12.0),
 ('Sabin Merino', 2.0, 72.0, 1.0, 0.0, 0.0, 0.0, 6.0),
 ('Ager Aketxe', 2.0, 34.0, 0.0, 0.0, 0.0, 0.0, 2.0),
 ('Oscar Gil', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Inigo Munoz', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Inaki Williams', 16.0, 1283.0, 14.0, 3.0, 3.0, 0.0, 57.0),
 ('Aritz Aduriz', 13.3, 1264.0, 13.0, 4.0, 1.0, 0.0, 57.0),
 ('Iker Muniain', 4.0, 405.0, 4.0, 1.0, 2.0, 0.0, 21.0),
 ('Kike Sola', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)]

In [166]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])
df.head()

,DecodedName,FantasyLeagueVal,C_Mins,C_Apps,C_Goals,C_Assists,C_Clean_Sheets,FantasyLeaguePoints
0,Kepa Arrizabalaga,3.5,1260.0,14.0,0.0,0.0,4.0,40.0
1,Iago Herrerin,3.5,360.0,4.0,0.0,0.0,4.0,27.0
2,Unai Simon,2.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Unai Nunez,6.5,1530.0,17.0,0.0,0.0,7.0,52.0
4,Aymeric Laporte,10.5,1530.0,17.0,0.0,0.0,7.0,51.0

In [167]:
df.to_csv('bilbao.csv',index=False)

In [171]:
url = 'https://www.fantasy-liga.com/en/team-profile/Valencia/19'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Neto', 8.0, 1530.0, 17.0, 0.0, 0.0, 6.0, 65.0),
 ('Jaume Domenech', 2.0, 90.0, 1.0, 0.0, 0.0, 0.0, 2.0),
 ('Cristian Rivero', 4.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Jose Gaya', 7.0, 1380.0, 16.0, 0.0, 3.0, 5.0, 61.0),
 ('Martin Montoya', 6.0, 1245.0, 14.0, 0.0, 2.0, 5.0, 51.0),
 ('Gabriel', 5.5, 1182.0, 13.0, 0.0, 0.0, 4.0, 43.0),
 ('Ezequiel Garay', 3.5, 994.0, 11.0, 0.0, 0.0, 3.0, 36.0),
 ('Jeison Murillo', 2.0, 610.0, 7.0, 0.0, 0.0, 4.0, 29.0),
 ('Ruben Vezo', 2.0, 477.0, 5.0, 0.0, 0.0, 1.0, 17.0),
 ('Toni Lato', 2.0, 387.0, 4.0, 0.0, 1.0, 2.0, 23.0),
 ('Nacho Vidal', 2.0, 352.0, 4.0, 1.0, 0.0, 1.0, 20.0),
 ('Javi Jimenez', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Daniel Parejo', 13.9, 1513.0, 17.0, 1.0, 3.0, 6.0, 64.0),
 ('Geoffrey Kondogbia', 7.0, 1370.0, 16.0, 3.0, 1.0, 5.0, 56.0),
 ('Carlos Soler', 6.5, 1180.0, 14.0, 1.0, 4.0, 5.0, 59.0),
 ('Goncalo Guedes', 7.0, 985.0, 10.0, 3.0, 5.0, 3.0, 64.0),
 ('Andreas Pereira', 6.0, 864.0, 10.0, 1.0, 3.0, 2.0, 42.0),
 ('Nacho Gil', 2.0, 171.0, 1.0, 0.0, 0.0, 0.0, 6.0),
 ('Nemanja Maksimovic', 2.0, 49.0, 0.0, 0.0, 0.0, 0.0, 5.0),
 ('Rodrigo Moreno', 9.5, 1423.0, 17.0, 7.0, 3.0, 0.0, 82.0),
 ('Simone Zaza', 9.0, 1211.0, 14.0, 10.0, 0.0, 0.0, 70.0),
 ('Santi Mina', 7.0, 619.0, 5.0, 5.0, 1.0, 0.0, 50.0),
 ('Luciano Vietto', 2.0, 287.0, 4.0, 0.0, 0.0, 0.0, 12.0),
 ('Ferran Torres', 3.0, 9.0, 0.0, 0.0, 0.0, 0.0, 1.0)]

In [172]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])
df.head()

,DecodedName,FantasyLeagueVal,C_Mins,C_Apps,C_Goals,C_Assists,C_Clean_Sheets,FantasyLeaguePoints
0,Neto,8.0,1530.0,17.0,0.0,0.0,6.0,65.0
1,Jaume Domenech,2.0,90.0,1.0,0.0,0.0,0.0,2.0
2,Cristian Rivero,4.5,0.0,0.0,0.0,0.0,0.0,0.0
3,Jose Gaya,7.0,1380.0,16.0,0.0,3.0,5.0,61.0
4,Martin Montoya,6.0,1245.0,14.0,0.0,2.0,5.0,51.0

In [173]:
df.to_csv('valencia.csv')

In [174]:
url = 'https://www.fantasy-liga.com/en/team-profile/Real-Madrid/16'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Keylor Navas', 3.0, 900.0, 10.0, 0.0, 0.0, 4.0, 38.0),
 ('Kiko Casilla', 2.0, 630.0, 7.0, 0.0, 0.0, 3.0, 30.0),
 ('Moha Ramos', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Luca Zidane', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Marcelo', 11.5, 1129.0, 13.0, 1.0, 1.0, 5.0, 50.0),
 ('Sergio Ramos', 7.4, 1125.0, 13.0, 0.0, 1.0, 6.0, 45.0),
 ('Nacho', 7.0, 1015.0, 10.0, 1.0, 0.0, 6.0, 50.0),
 ('Raphael Varane', 3.5, 945.0, 11.0, 0.0, 0.0, 4.0, 38.0),
 ('Daniel Carvajal', 2.0, 900.0, 10.0, 0.0, 0.0, 3.0, 24.0),
 ('Achraf Hakimi', 2.5, 426.0, 5.0, 1.0, 0.0, 2.0, 25.0),
 ('Theo Hernandez', 2.0, 296.0, 3.0, 0.0, 0.0, 1.0, 12.0),
 ('Jesus Vallejo', 2.0, 270.0, 3.0, 0.0, 0.0, 2.0, 15.0),
 ('Alvaro Tejero', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Manu', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Casemiro', 5.5, 1202.0, 14.0, 3.0, 0.0, 6.0, 50.0),
 ('Toni Kroos', 11.1, 1185.0, 14.0, 2.0, 2.0, 6.0, 54.0),
 ('Isco', 14.0, 1068.0, 13.0, 4.0, 4.0, 6.0, 73.0),
 ('Luka Modric', 4.3, 1049.0, 12.0, 0.0, 0.0, 6.0, 34.0),
 ('Marco Asensio', 6.5, 889.0, 9.0, 4.0, 3.0, 4.0, 63.0),
 ('Lucas Vazquez', 5.8, 566.0, 5.0, 1.0, 1.0, 1.0, 32.0),
 ('Marcos Llorente', 2.0, 237.0, 2.0, 0.0, 0.0, 0.0, 9.0),
 ('Dani Ceballos', 2.0, 186.0, 2.0, 2.0, 0.0, 1.0, 21.0),
 ('Mateo Kovacic', 2.0, 156.0, 1.0, 0.0, 0.0, 0.0, 6.0),
 ('Franchu', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Jaime Seoane', 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Oscar Rodriguez', 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Cristiano Ronaldo', 23.0, 1156.0, 13.0, 3.0, 2.0, 0.0, 50.0),
 ('Karim Benzema', 11.5, 883.0, 11.0, 2.0, 3.0, 0.0, 45.0),
 ('Gareth Bale', 3.5, 498.0, 5.0, 4.0, 1.0, 0.0, 33.0),
 ('Borja Mayoral', 2.0, 119.0, 1.0, 1.0, 0.0, 0.0, 14.0),
 ('Cristo Gonzalez', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)]

In [175]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])
df.head()

,DecodedName,FantasyLeagueVal,C_Mins,C_Apps,C_Goals,C_Assists,C_Clean_Sheets,FantasyLeaguePoints
0,Keylor Navas,3.0,900.0,10.0,0.0,0.0,4.0,38.0
1,Kiko Casilla,2.0,630.0,7.0,0.0,0.0,3.0,30.0
2,Moha Ramos,2.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Luca Zidane,2.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Marcelo,11.5,1129.0,13.0,1.0,1.0,5.0,50.0

In [176]:
df.to_csv('rma.csv',index=False)

In [177]:
url = 'https://www.fantasy-liga.com/en/team-profile/Celta-Vigo/5'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Ruben Blanco', 3.5, 1080.0, 12.0, 0.0, 0.0, 2.0, 30.0),
 ('Sergio Alvarez', 2.0, 575.0, 6.0, 0.0, 0.0, 1.0, 16.0),
 ('Ivan Villar', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Jonny', 6.5, 1530.0, 17.0, 0.0, 0.0, 3.0, 41.0),
 ('Hugo Mallo', 6.0, 1401.0, 16.0, 0.0, 2.0, 3.0, 43.0),
 ('Gustavo Cabral', 6.0, 1235.0, 13.0, 1.0, 1.0, 3.0, 47.0),
 ('Sergi Gomez', 5.0, 1000.0, 12.0, 2.0, 0.0, 1.0, 42.0),
 ('Andreu Fontas', 3.0, 814.0, 9.0, 1.0, 1.0, 2.0, 34.0),
 ('Facundo Roncaglia', 2.0, 224.0, 2.0, 0.0, 0.0, 0.0, 5.0),
 ('Diego Alende', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Diego Pampin', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Robert Mazan', 4.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Daniel Wass', 10.1, 1494.0, 17.0, 4.0, 5.0, 3.0, 78.0),
 ('Pione Sisto', 9.5, 1477.0, 18.0, 1.0, 11.0, 3.0, 82.0),
 ('Stanislav Lobotka', 7.0, 1280.0, 14.0, 0.0, 0.0, 3.0, 41.0),
 ('Pablo Hernandez', 6.0, 1059.0, 11.0, 2.0, 0.0, 1.0, 41.0),
 ('Jozabed Sanchez', 5.0, 808.0, 10.0, 0.0, 2.0, 2.0, 30.0),
 ('Nemanja Radoja', 2.5, 325.0, 3.0, 0.0, 0.0, 0.0, 11.0),
 ('Brais Mendez', 2.0, 180.0, 3.0, 0.0, 0.0, 0.0, 8.0),
 ('Andrew Hjulsager', 2.0, 12.0, 0.0, 0.0, 0.0, 0.0, 2.0),
 ('Iago Aspas', 16.0, 1529.0, 17.0, 10.0, 2.0, 0.0, 80.0),
 ('Maxi Gomez', 8.0, 1448.0, 17.0, 8.0, 2.0, 0.0, 70.0),
 ('Emre Mor', 2.5, 242.0, 1.0, 1.0, 0.0, 0.0, 16.0)]

In [178]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])
df.head()

,DecodedName,FantasyLeagueVal,C_Mins,C_Apps,C_Goals,C_Assists,C_Clean_Sheets,FantasyLeaguePoints
0,Ruben Blanco,3.5,1080.0,12.0,0.0,0.0,2.0,30.0
1,Sergio Alvarez,2.0,575.0,6.0,0.0,0.0,1.0,16.0
2,Ivan Villar,2.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Jonny,6.5,1530.0,17.0,0.0,0.0,3.0,41.0
4,Hugo Mallo,6.0,1401.0,16.0,0.0,2.0,3.0,43.0

In [179]:
df.to_csv('celta.csv',index=False)

In [180]:
url = 'https://www.fantasy-liga.com/en/team-profile/Villarreal/20'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Mariano Barbosa', 3.0, 1125.0, 12.0, 0.0, 0.0, 5.0, 43.0),
 ('Sergio Asenjo', 3.0, 360.0, 4.0, 0.0, 0.0, 2.0, 18.0),
 ('Andres Fernandez', 2.0, 135.0, 2.0, 0.0, 0.0, 0.0, 2.0),
 ('Ander Cantero', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Alvaro Gonzalez', 6.5, 1406.0, 16.0, 0.0, 1.0, 6.0, 48.0),
 ('Jaume Costa', 8.9, 1404.0, 16.0, 0.0, 0.0, 7.0, 53.0),
 ('Victor Ruiz', 7.0, 1350.0, 15.0, 0.0, 1.0, 7.0, 53.0),
 ('Mario Gaspar', 13.5, 1275.0, 14.0, 1.0, 1.0, 6.0, 58.0),
 ('Antonio Rukavina', 2.0, 497.0, 5.0, 0.0, 0.0, 2.0, 17.0),
 ('Daniele Bonera', 2.0, 304.0, 3.0, 0.0, 0.0, 1.0, 8.0),
 ('Ruben Semedo', 2.0, 231.0, 3.0, 0.0, 0.0, 0.0, 5.0),
 ('Adrian Marin', 2.0, 88.0, 1.0, 0.0, 0.0, 0.0, 0.0),
 ('Pau Torres', 2.0, 6.0, 0.0, 0.0, 0.0, 0.0, 1.0),
 ('Genis Montolio', 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Pepe Castano', 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Rodri', 7.0, 1575.0, 18.0, 0.0, 0.0, 7.0, 47.0),
 ('Pablo Fornals', 11.0, 1435.0, 16.0, 1.0, 6.0, 6.0, 67.0),
 ('Manu Trigueros', 13.5, 1371.0, 16.0, 1.0, 3.0, 6.0, 46.0),
 ('Roberto Soriano', 9.0, 562.0, 6.0, 0.0, 0.0, 2.0, 21.0),
 ('Denis Cheryshev', 2.0, 213.0, 1.0, 0.0, 1.0, 1.0, 15.0),
 ('Chuca', 2.0, 86.0, 1.0, 0.0, 0.0, 1.0, 6.0),
 ('Ramiro Guerra', 2.0, 63.0, 0.0, 0.0, 0.0, 0.0, 2.0),
 ('Leo Suarez', 2.0, 28.0, 0.0, 0.0, 0.0, 0.0, 1.0),
 ('Mario Gonzalez', 3.0, 3.0, 0.0, 0.0, 0.0, 0.0, 1.0),
 ('Manuel Morlanes', 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Sergio Lozano', 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Pedro Martinez', 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Bruno Soriano', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Imanol Garcia', 4.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Cedric Bakambu', 9.5, 1269.0, 15.0, 8.0, 0.0, 0.0, 67.0),
 ('Carlos Bacca', 7.0, 1152.0, 14.0, 5.0, 3.0, 0.0, 62.0),
 ('Samu Castillejo', 7.5, 923.0, 11.0, 1.0, 3.0, 0.0, 44.0),
 ('Enes Unal', 4.0, 852.0, 9.0, 3.0, 1.0, 0.0, 38.0),
 ('Nicola Sansone', 5.2, 300.0, 3.0, 3.0, 1.0, 0.0, 29.0),
 ('Raba', 3.5, 290.0, 3.0, 1.0, 0.0, 0.0, 9.0),
 ('Dario Poveda', 2.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0),
 ('Roger Martinez', 4.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)]

In [181]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])
df.head()

,DecodedName,FantasyLeagueVal,C_Mins,C_Apps,C_Goals,C_Assists,C_Clean_Sheets,FantasyLeaguePoints
0,Mariano Barbosa,3.0,1125.0,12.0,0.0,0.0,5.0,43.0
1,Sergio Asenjo,3.0,360.0,4.0,0.0,0.0,2.0,18.0
2,Andres Fernandez,2.0,135.0,2.0,0.0,0.0,0.0,2.0
3,Ander Cantero,2.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Alvaro Gonzalez,6.5,1406.0,16.0,0.0,1.0,6.0,48.0

In [183]:
df.to_csv('villareal.csv',index=False)

In [184]:
url = 'https://www.fantasy-liga.com/en/team-profile/Real-Betis/15'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Antonio Adan', 6.0, 1620.0, 18.0, 0.0, 0.0, 4.0, 47.0),
 ('Dani Gimenez', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Aissa Mandi', 5.0, 1440.0, 16.0, 0.0, 0.0, 4.0, 39.0),
 ('Antonio Barragan', 7.0, 1405.0, 17.0, 0.0, 3.0, 4.0, 54.0),
 ('Riza Durmisi', 6.0, 1253.0, 14.0, 1.0, 2.0, 3.0, 48.0),
 ('Zouhair Feddal', 2.5, 1022.0, 11.0, 3.0, 0.0, 2.0, 40.0),
 ('Jordi Amat', 2.0, 873.0, 10.0, 0.0, 0.0, 3.0, 17.0),
 ('Alin Tosca', 2.0, 423.0, 5.0, 0.0, 0.0, 1.0, 11.0),
 ('Rafa Navarro', 2.0, 112.0, 1.0, 0.0, 0.0, 0.0, 3.0),
 ('Redru', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Joaquin', 8.9, 1408.0, 17.0, 3.0, 4.0, 3.0, 67.0),
 ('Andres Guardado', 6.5, 1240.0, 13.0, 1.0, 6.0, 3.0, 56.0),
 ('Javi Garcia', 5.0, 1162.0, 13.0, 0.0, 0.0, 3.0, 34.0),
 ('Fabian Ruiz', 5.5, 877.0, 10.0, 2.0, 3.0, 3.0, 50.0),
 ('Victor Camarasa', 6.8, 866.0, 11.0, 1.0, 0.0, 2.0, 32.0),
 ('Ryad Boudebouz', 2.5, 402.0, 3.0, 1.0, 1.0, 0.0, 22.0),
 ('Nahuel Leiva', 2.0, 250.0, 3.0, 0.0, 0.0, 0.0, 8.0),
 ('Julio Gracia', 2.0, 21.0, 0.0, 0.0, 0.0, 0.0, 2.0),
 ('Felipe Gutierrez', 4.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Sergio Leon', 10.5, 1237.0, 14.0, 6.0, 1.0, 0.0, 56.0),
 ('Cristian Tello', 6.0, 930.0, 9.0, 3.0, 3.0, 0.0, 46.0),
 ('Antonio Sanabria', 5.0, 638.0, 6.0, 7.0, 0.0, 0.0, 49.0),
 ('Juanjo Narvaez', 2.0, 304.0, 4.0, 0.0, 0.0, 0.0, 12.0),
 ('Francis', 2.0, 241.0, 2.0, 0.0, 0.0, 0.0, 9.0),
 ('Joel Campbell', 2.0, 89.0, 1.0, 1.0, 1.0, 0.0, 12.0),
 ('Aitor Ruibal', 3.5, 7.0, 0.0, 0.0, 0.0, 0.0, 2.0),
 ('Ruben Castro', 4.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)]

In [185]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])
df.head()

,DecodedName,FantasyLeagueVal,C_Mins,C_Apps,C_Goals,C_Assists,C_Clean_Sheets,FantasyLeaguePoints
0,Antonio Adan,6.0,1620.0,18.0,0.0,0.0,4.0,47.0
1,Dani Gimenez,2.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Aissa Mandi,5.0,1440.0,16.0,0.0,0.0,4.0,39.0
3,Antonio Barragan,7.0,1405.0,17.0,0.0,3.0,4.0,54.0
4,Riza Durmisi,6.0,1253.0,14.0,1.0,2.0,3.0,48.0

In [186]:
df.to_csv('betis.csv',index=False)

In [187]:
url = 'https://www.fantasy-liga.com/en/team-profile/Sevilla/18'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Sergio Rico', 5.0, 985.0, 10.0, 0.0, 0.0, 4.0, 36.0),
 ('David Soria', 2.0, 545.0, 7.0, 0.0, 0.0, 2.0, 23.0),
 ('Juan Soriano', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Clement Lenglet', 8.0, 1335.0, 15.0, 3.0, 0.0, 6.0, 66.0),
 ('Sergio Escudero', 4.0, 990.0, 11.0, 0.0, 1.0, 5.0, 41.0),
 ('Simon Kjaer', 3.0, 988.0, 11.0, 1.0, 0.0, 3.0, 36.0),
 ('Gabriel Mercado', 4.0, 869.0, 10.0, 0.0, 1.0, 6.0, 42.0),
 ('Sebastien Corchia', 2.0, 727.0, 8.0, 0.0, 1.0, 1.0, 20.0),
 ('Lionel Carole', 2.0, 450.0, 5.0, 0.0, 1.0, 1.0, 17.0),
 ('Daniel Carrico', 2.0, 270.0, 3.0, 0.0, 0.0, 2.0, 13.0),
 ('Nico Pareja', 2.0, 135.0, 2.0, 0.0, 0.0, 2.0, 12.0),
 ('Guilherme Arana', 4.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Jesus Navas', 5.0, 1010.0, 11.0, 1.0, 0.0, 4.0, 37.0),
 ('Guido Pizarro', 3.5, 993.0, 11.0, 1.0, 0.0, 3.0, 32.0),
 ('Pablo Sarabia', 11.0, 936.0, 10.0, 1.0, 3.0, 3.0, 47.0),
 ('Ever Banega', 4.5, 930.0, 9.0, 0.0, 2.0, 2.0, 34.0),
 ("Steven N'Zonzi", 9.0, 820.0, 10.0, 0.0, 0.0, 3.0, 28.0),
 ('Franco Vazquez', 8.2, 739.0, 9.0, 1.0, 3.0, 2.0, 38.0),
 ('Michael Krohn-Dehli', 4.5, 532.0, 5.0, 1.0, 1.0, 3.0, 33.0),
 ('Ganso', 2.0, 457.0, 6.0, 2.0, 0.0, 4.0, 31.0),
 ('Joaquin Correa', 2.0, 427.0, 5.0, 0.0, 0.0, 2.0, 17.0),
 ('Johannes Geis', 2.0, 399.0, 4.0, 0.0, 1.0, 1.0, 18.0),
 ('Luis Muriel', 4.0, 842.0, 9.0, 3.0, 0.0, 0.0, 37.0),
 ('Nolito', 4.5, 770.0, 8.0, 2.0, 4.0, 0.0, 44.0),
 ('Wissam Ben Yedder', 7.0, 730.0, 8.0, 5.0, 0.0, 0.0, 41.0)]

In [188]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])
df.head()

,DecodedName,FantasyLeagueVal,C_Mins,C_Apps,C_Goals,C_Assists,C_Clean_Sheets,FantasyLeaguePoints
0,Sergio Rico,5.0,985.0,10.0,0.0,0.0,4.0,36.0
1,David Soria,2.0,545.0,7.0,0.0,0.0,2.0,23.0
2,Juan Soriano,2.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Clement Lenglet,8.0,1335.0,15.0,3.0,0.0,6.0,66.0
4,Sergio Escudero,4.0,990.0,11.0,0.0,1.0,5.0,41.0

In [189]:
df.to_csv('sevilla.csv',index=False)

In [190]:
url = 'https://www.fantasy-liga.com/en/team-profile/Eibar/7'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Marko Dmitrovic', 4.0, 1530.0, 17.0, 0.0, 0.0, 5.0, 50.0),
 ('Yoel Rodriguez', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Asier Riesgo', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Markel Areitio', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Ander Capa', 7.5, 1446.0, 17.0, 0.0, 1.0, 5.0, 52.0),
 ('Paulo Oliveira', 5.0, 1350.0, 15.0, 0.0, 0.0, 5.0, 45.0),
 ('Anaitz Arbilla', 4.0, 1108.0, 12.0, 1.0, 0.0, 3.0, 37.0),
 ('Jose Angel', 4.5, 974.0, 11.0, 0.0, 5.0, 3.0, 48.0),
 ('David Junca', 2.0, 545.0, 6.0, 0.0, 2.0, 2.0, 25.0),
 ('David Lomban', 2.0, 345.0, 4.0, 0.0, 0.0, 0.0, 5.0),
 ('Ivan Ramis', 2.0, 342.0, 4.0, 0.0, 0.0, 2.0, 14.0),
 ('Julen Lopez', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Dani Garcia', 10.5, 1317.0, 15.0, 0.0, 0.0, 5.0, 35.0),
 ('Takashi Inui', 8.0, 1300.0, 16.0, 2.0, 1.0, 4.0, 54.0),
 ('Joan Jordan', 5.0, 1132.0, 12.0, 3.0, 0.0, 4.0, 50.0),
 ('Gonzalo Escalante', 4.0, 724.0, 8.0, 1.0, 0.0, 2.0, 27.0),
 ('Ivan Alejo', 3.5, 557.0, 7.0, 1.0, 3.0, 2.0, 35.0),
 ('Ruben Pena', 2.5, 376.0, 3.0, 0.0, 0.0, 1.0, 16.0),
 ('Pape Diop', 2.0, 263.0, 3.0, 0.0, 0.0, 0.0, 7.0),
 ('Imanol Sarriegui', 2.0, 37.0, 0.0, 0.0, 0.0, 0.0, 2.0),
 ('Fabian Orellana', 2.0, 19.0, 0.0, 1.0, 0.0, 0.0, 6.0),
 ('Fran Rico', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Pedro Leon', 3.8, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Julen Azkue', 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Sergi Enrich', 13.1, 1155.0, 12.0, 3.0, 1.0, 0.0, 45.0),
 ('Kike Garcia', 5.5, 998.0, 12.0, 1.0, 0.0, 0.0, 32.0),
 ('Charles', 5.5, 720.0, 8.0, 5.0, 1.0, 0.0, 49.0),
 ('Bebe', 2.0, 343.0, 3.0, 0.0, 0.0, 0.0, 13.0)]

In [191]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])
df.head()

,DecodedName,FantasyLeagueVal,C_Mins,C_Apps,C_Goals,C_Assists,C_Clean_Sheets,FantasyLeaguePoints
0,Marko Dmitrovic,4.0,1530.0,17.0,0.0,0.0,5.0,50.0
1,Yoel Rodriguez,2.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Asier Riesgo,2.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Markel Areitio,2.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Ander Capa,7.5,1446.0,17.0,0.0,1.0,5.0,52.0

In [192]:
df.to_csv('eibar.csv',index=False)

In [193]:
url = 'https://www.fantasy-liga.com/en/team-profile/Deportivo-La-Coruna/6'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Ruben Martinez', 2.0, 810.0, 9.0, 0.0, 0.0, 1.0, 15.0),
 ('Costel Pantilimon', 2.0, 540.0, 6.0, 0.0, 0.0, 1.0, 17.0),
 ('Francis Uzoho', 2.0, 180.0, 2.0, 0.0, 0.0, 1.0, 8.0),
 ('Przemyslaw Tyton', 2.0, 90.0, 1.0, 0.0, 0.0, 0.0, 0.0),
 ('Juanfran', 10.5, 1524.0, 17.0, 0.0, 1.0, 3.0, 42.0),
 ('Fabian Schar', 4.5, 1320.0, 15.0, 2.0, 1.0, 2.0, 44.0),
 ('Sidnei', 4.5, 1215.0, 14.0, 1.0, 1.0, 2.0, 38.0),
 ('Luisinho', 3.5, 1182.0, 13.0, 1.0, 1.0, 2.0, 33.0),
 ('Fernando Navarro', 2.0, 475.0, 5.0, 0.0, 0.0, 1.0, 12.0),
 ('Raul Albentosa', 2.5, 405.0, 4.0, 0.0, 0.0, 1.0, 9.0),
 ('Gerard Valentin', 2.0, 96.0, 1.0, 0.0, 0.0, 0.0, 2.0),
 ('Blas Alonso', 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Quique Fornos', 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Aldo One', 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Guilherme', 6.5, 1446.0, 17.0, 0.0, 0.0, 3.0, 34.0),
 ('Celso Borges', 9.5, 1365.0, 16.0, 3.0, 1.0, 3.0, 55.0),
 ('Fede Cartabia', 5.0, 1131.0, 14.0, 2.0, 1.0, 2.0, 41.0),
 ('Federico Valverde', 5.0, 946.0, 10.0, 0.0, 0.0, 2.0, 30.0),
 ('Emre Colak', 5.5, 634.0, 8.0, 0.0, 1.0, 2.0, 25.0),
 ('Zakaria Bakkali', 2.0, 502.0, 6.0, 0.0, 0.0, 0.0, 16.0),
 ('Pedro Mosquera', 2.0, 466.0, 5.0, 0.0, 1.0, 0.0, 15.0),
 ('Carles Gil', 2.5, 330.0, 4.0, 0.0, 0.0, 1.0, 12.0),
 ('Bruno Gama', 2.0, 111.0, 1.0, 0.0, 0.0, 0.0, 5.0),
 ('Borja Valle', 2.0, 70.0, 0.0, 0.0, 0.0, 0.0, 7.0),
 ('Edu Exposito', 2.0, 53.0, 0.0, 0.0, 0.0, 0.0, 2.0),
 ('Lucas Perez', 7.0, 1110.0, 12.0, 2.0, 1.0, 0.0, 47.0),
 ('Adrian Lopez', 3.5, 780.0, 8.0, 3.0, 2.0, 0.0, 38.0),
 ('Florin Andone', 9.5, 769.0, 7.0, 4.0, 2.0, 0.0, 38.0),
 ('Pinchi', 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)]

In [194]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])
df.head()

,DecodedName,FantasyLeagueVal,C_Mins,C_Apps,C_Goals,C_Assists,C_Clean_Sheets,FantasyLeaguePoints
0,Ruben Martinez,2.0,810.0,9.0,0.0,0.0,1.0,15.0
1,Costel Pantilimon,2.0,540.0,6.0,0.0,0.0,1.0,17.0
2,Francis Uzoho,2.0,180.0,2.0,0.0,0.0,1.0,8.0
3,Przemyslaw Tyton,2.0,90.0,1.0,0.0,0.0,0.0,0.0
4,Juanfran,10.5,1524.0,17.0,0.0,1.0,3.0,42.0

In [197]:
df.to_csv('Ladeportivo.csv',index=False)

In [198]:
url = 'https://www.fantasy-liga.com/en/team-profile/Getafe/9'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Vicente Guaita', 7.0, 1440.0, 16.0, 0.0, 0.0, 5.0, 58.0),
 ('Emiliano Martinez', 2.0, 90.0, 1.0, 0.0, 0.0, 0.0, 2.0),
 ('Filip Manojlovic', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Djene Dakonam', 7.0, 1529.0, 17.0, 0.0, 0.0, 5.0, 48.0),
 ('Damian Suarez', 6.5, 1440.0, 16.0, 0.0, 2.0, 5.0, 51.0),
 ('Juan Cala', 6.5, 1440.0, 16.0, 1.0, 1.0, 4.0, 51.0),
 ('Vitorino Antunes', 6.0, 1350.0, 15.0, 0.0, 2.0, 3.0, 44.0),
 ('Francisco Molinero', 2.0, 311.0, 3.0, 0.0, 0.0, 2.0, 13.0),
 ('Bruno Gonzalez', 2.0, 98.0, 1.0, 0.0, 0.0, 1.0, 9.0),
 ('Mathias Olivera', 2.0, 12.0, 0.0, 0.0, 0.0, 0.0, 2.0),
 ('Nicolas Gorosito', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Markel Bergara', 6.5, 1289.0, 15.0, 4.0, 1.0, 4.0, 58.0),
 ('Mauro Arambarri', 5.5, 1225.0, 15.0, 1.0, 0.0, 3.0, 37.0),
 ('Faycal Fajr', 4.5, 918.0, 10.0, 1.0, 2.0, 3.0, 40.0),
 ('Francisco Portillo', 5.0, 834.0, 9.0, 1.0, 2.0, 3.0, 38.0),
 ('Sergio Mora', 3.0, 341.0, 2.0, 0.0, 0.0, 1.0, 17.0),
 ('Gaku Shibasaki', 2.0, 331.0, 4.0, 1.0, 0.0, 1.0, 17.0),
 ('Mehdi Lacen', 2.0, 59.0, 0.0, 0.0, 0.0, 0.0, 3.0),
 ('Jefferson Montero', 2.0, 31.0, 0.0, 0.0, 0.0, 0.0, 3.0),
 ('Barri', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Carlos Calderon', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Carlos Calderon', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Carlos Calderon', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Gustavo Quezada', 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Jorge Molina', 7.5, 1471.0, 17.0, 2.0, 2.0, 0.0, 57.0),
 ('Amath Ndiaye', 6.5, 1348.0, 17.0, 2.0, 0.0, 0.0, 46.0),
 ('Angel Rodriguez', 5.0, 802.0, 9.0, 6.0, 0.0, 0.0, 49.0),
 ('Alvaro Jimenez', 2.0, 510.0, 5.0, 1.0, 1.0, 0.0, 20.0),
 ('Daniel Pacheco', 2.0, 24.0, 0.0, 0.0, 0.0, 0.0, 2.0),
 ('Hugo Duro', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)]

In [200]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])

In [201]:
df.to_csv('getafe.csv',index=False)

In [202]:
url = 'https://www.fantasy-liga.com/en/team-profile/Leganes/12'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Ivan Cuellar', 7.5, 1530.0, 17.0, 0.0, 0.0, 10.0, 77.0),
 ('Jon Serantes', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Nereo Champagne', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Joseba Zaldua', 6.0, 1215.0, 14.0, 0.0, 0.0, 10.0, 58.0),
 ('Diego Rico', 3.5, 990.0, 11.0, 1.0, 0.0, 6.0, 45.0),
 ('Dimitrios Siovas', 3.0, 857.0, 10.0, 0.0, 1.0, 5.0, 35.0),
 ('Mauro Dos Santos', 2.0, 776.0, 7.0, 0.0, 0.0, 7.0, 39.0),
 ('Raul Garcia', 3.0, 739.0, 8.0, 0.0, 0.0, 4.0, 33.0),
 ('Ezequiel Munoz', 2.5, 688.0, 9.0, 0.0, 0.0, 5.0, 33.0),
 ('Martin Mantovani', 2.0, 450.0, 5.0, 1.0, 0.0, 3.0, 27.0),
 ('Unai Bustinza', 2.0, 290.0, 3.0, 0.0, 0.0, 0.0, 9.0),
 ('Tito', 2.0, 247.0, 2.0, 0.0, 0.0, 0.0, 8.0),
 ('Daniel Gallardo', 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Gabriel Pires', 11.5, 1292.0, 15.0, 4.0, 1.0, 8.0, 66.0),
 ('Javier Eraso', 6.5, 1221.0, 15.0, 1.0, 2.0, 10.0, 56.0),
 ('Ruben Perez', 4.5, 1184.0, 14.0, 0.0, 0.0, 10.0, 39.0),
 ('Alexander Szymanowski', 6.5, 1064.0, 13.0, 1.0, 2.0, 6.0, 50.0),
 ('Nabil El Zhar', 5.0, 809.0, 7.0, 1.0, 0.0, 6.0, 35.0),
 ('Darko Brasanac', 2.0, 436.0, 6.0, 0.0, 0.0, 3.0, 17.0),
 ('Gerard Gumbau', 2.0, 367.0, 3.0, 0.0, 0.0, 3.0, 12.0),
 ('Omar Ramos', 2.5, 330.0, 4.0, 0.0, 0.0, 3.0, 16.0),
 ('Claudio Beauvue', 5.0, 943.0, 10.0, 2.0, 0.0, 0.0, 33.0),
 ('Nordin Amrabat', 3.0, 577.0, 6.0, 0.0, 3.0, 0.0, 26.0),
 ('Miguel Angel Guerrero', 2.5, 476.0, 5.0, 1.0, 0.0, 0.0, 14.0),
 ('Naranjo', 2.0, 124.0, 1.0, 0.0, 0.0, 0.0, 5.0),
 ('Mamadou Kone', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Leonardo Rocha', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)]

In [204]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])

In [205]:
df.to_csv('leganes.csv',index=False)

In [206]:
url = 'https://www.fantasy-liga.com/en/team-profile/Alaves/1'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Fernando Pacheco', 10.5, 1530.0, 17.0, 0.0, 0.0, 4.0, 50.0),
 ('Antonio Sivera', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Ioritz Landeta', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Alexis Ruano', 5.0, 1313.0, 15.0, 1.0, 0.0, 4.0, 45.0),
 ('Rodrigo Ely', 3.5, 1170.0, 13.0, 0.0, 0.0, 2.0, 27.0),
 ('Guillermo Maripan', 3.5, 976.0, 11.0, 0.0, 0.0, 4.0, 37.0),
 ('Carlos Vigaray', 2.0, 893.0, 9.0, 0.0, 0.0, 0.0, 13.0),
 ('Ruben Duarte', 3.0, 810.0, 9.0, 0.0, 2.0, 3.0, 34.0),
 ('Martin Aguirregabiria', 4.5, 270.0, 3.0, 0.0, 0.0, 2.0, 13.0),
 ('Adrian Dieguez', 2.0, 225.0, 3.0, 0.0, 0.0, 1.0, 6.0),
 ('Hector Hernandez', 2.0, 15.0, 0.0, 0.0, 0.0, 0.0, 1.0),
 ('Einar Galilea', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Victor Laguardia', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Manu Garcia', 5.0, 1256.0, 14.0, 1.0, 0.0, 4.0, 33.0),
 ('Alfonso Pedraza', 6.0, 1225.0, 13.0, 0.0, 2.0, 4.0, 40.0),
 ('Ibai Gomez', 8.5, 997.0, 12.0, 3.0, 2.0, 3.0, 56.0),
 ('Tomas Pina', 3.0, 861.0, 11.0, 0.0, 0.0, 3.0, 28.0),
 ('Alvaro Medran', 2.5, 826.0, 9.0, 1.0, 0.0, 2.0, 29.0),
 ('Mubarak Wakaso', 2.0, 673.0, 8.0, 0.0, 0.0, 1.0, 17.0),
 ('Burgui', 4.0, 598.0, 7.0, 1.0, 0.0, 2.0, 27.0),
 ('Daniel Torres', 2.0, 542.0, 6.0, 0.0, 0.0, 1.0, 15.0),
 ('Aleksandar Katai', 2.0, 52.0, 0.0, 0.0, 0.0, 0.0, 3.0),
 ('Victor Lopez', 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Munir El Haddadi', 8.5, 1164.0, 13.0, 3.0, 3.0, 0.0, 51.0),
 ('Christian Santos', 2.0, 472.0, 5.0, 2.0, 0.0, 0.0, 18.0),
 ('Bojan', 2.0, 332.0, 3.0, 0.0, 0.0, 0.0, 13.0),
 ('Ruben Sobrino', 2.0, 294.0, 3.0, 0.0, 0.0, 0.0, 11.0),
 ('John Guidetti', 2.0, 107.0, 0.0, 0.0, 0.0, 0.0, 8.0),
 ('Ermedin Demirovic', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)]

In [207]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])

In [208]:
df.to_csv('alaves',index=False)

In [209]:
url = 'https://www.fantasy-liga.com/en/team-profile/Girona/10'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Bono', 2.0, 810.0, 9.0, 0.0, 0.0, 1.0, 22.0),
 ('Gorka Iraizoz', 2.0, 720.0, 8.0, 0.0, 0.0, 2.0, 17.0),
 ('Pablo Maffeo', 5.5, 1348.0, 16.0, 0.0, 1.0, 3.0, 42.0),
 ('Juanpe', 6.0, 1264.0, 14.0, 2.0, 1.0, 2.0, 47.0),
 ('Bernardo Espinosa', 5.0, 1243.0, 14.0, 0.0, 2.0, 1.0, 33.0),
 ('Marc Muniesa', 2.0, 870.0, 10.0, 0.0, 1.0, 2.0, 29.0),
 ('Johan Mojica', 3.5, 800.0, 8.0, 0.0, 2.0, 2.0, 29.0),
 ('Jonas Ramalho', 2.0, 677.0, 7.0, 0.0, 0.0, 1.0, 14.0),
 ('Pedro Alcala', 2.0, 450.0, 5.0, 1.0, 0.0, 2.0, 20.0),
 ('Carles Planas', 2.0, 19.0, 0.0, 0.0, 0.0, 0.0, 1.0),
 ('Maximiliano Villa', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Portu', 8.5, 1346.0, 16.0, 6.0, 1.0, 2.0, 72.0),
 ('Borja Garcia', 6.5, 1267.0, 15.0, 1.0, 2.0, 3.0, 51.0),
 ('Pere Pons', 4.5, 1219.0, 14.0, 0.0, 1.0, 3.0, 34.0),
 ('Alex Granell', 4.0, 1161.0, 14.0, 0.0, 2.0, 4.0, 36.0),
 ('Aday Benitez', 4.0, 869.0, 10.0, 0.0, 0.0, 1.0, 26.0),
 ('David Timor', 2.5, 451.0, 5.0, 2.0, 0.0, 1.0, 22.0),
 ('Aleix Garcia', 2.0, 380.0, 4.0, 0.0, 0.0, 0.0, 12.0),
 ('Douglas Luiz', 2.0, 259.0, 1.0, 0.0, 0.0, 0.0, 9.0),
 ('Eloi Amagat', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Farid Boulaya', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Pedro Porro', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Cristhian Stuani', 6.5, 1287.0, 15.0, 8.0, 0.0, 0.0, 60.0),
 ('Olarenwaju Kayode', 2.0, 360.0, 2.0, 0.0, 1.0, 0.0, 15.0),
 ('Michael Olunga', 2.0, 92.0, 1.0, 0.0, 0.0, 0.0, 5.0),
 ('Marlos Moreno', 2.0, 28.0, 0.0, 0.0, 0.0, 0.0, 2.0)]

In [210]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])

In [211]:
df.to_csv('girona.csv',index=False)

In [212]:
url = 'https://www.fantasy-liga.com/en/team-profile/Malaga/14'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Roberto Jimenez', 3.5, 1440.0, 16.0, 0.0, 0.0, 2.0, 35.0),
 ('Andres Prieto', 2.0, 90.0, 1.0, 0.0, 0.0, 0.0, 2.0),
 ('Cenk Gonen', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Luis Hernandez', 8.0, 1440.0, 16.0, 0.0, 0.0, 2.0, 32.0),
 ('Roberto Rosales', 8.0, 1415.0, 16.0, 1.0, 0.0, 2.0, 39.0),
 ('Juan Carlos Perez', 2.0, 784.0, 9.0, 0.0, 0.0, 0.0, 20.0),
 ('Diego Gonzalez', 2.5, 726.0, 9.0, 1.0, 0.0, 2.0, 26.0),
 ('Federico Ricca', 2.0, 398.0, 5.0, 0.0, 0.0, 0.0, 6.0),
 ('Ignasi Miquel', 3.5, 180.0, 2.0, 0.0, 0.0, 0.0, 3.0),
 ('Cifu', 2.0, 107.0, 1.0, 0.0, 0.0, 0.0, 2.0),
 ('Miguel Torres', 2.0, 90.0, 1.0, 0.0, 0.0, 0.0, 2.0),
 ('Alejandro Robles', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Ian Pino', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Recio', 4.0, 1343.0, 15.0, 0.0, 1.0, 2.0, 30.0),
 ('Adrian Gonzalez', 4.0, 1192.0, 14.0, 1.0, 0.0, 2.0, 31.0),
 ('Gonzalo Castro', 4.0, 822.0, 10.0, 3.0, 1.0, 2.0, 40.0),
 ('Keko', 2.5, 684.0, 9.0, 0.0, 2.0, 2.0, 30.0),
 ('Zdravko Kuzmanovic', 2.0, 580.0, 7.0, 0.0, 1.0, 0.0, 14.0),
 ('Juanpi', 4.0, 580.0, 5.0, 0.0, 2.0, 0.0, 25.0),
 ('Alejandro Mula', 2.0, 543.0, 7.0, 0.0, 0.0, 0.0, 15.0),
 ('Esteban Rolon', 2.0, 422.0, 6.0, 0.0, 0.0, 0.0, 14.0),
 ('Javier Ontiveros', 2.0, 345.0, 1.0, 0.0, 0.0, 0.0, 9.0),
 ('Jony', 2.0, 214.0, 1.0, 0.0, 0.0, 0.0, 5.0),
 ('Jose Carlos Sanchez', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Manuel Iturra', 4.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Diego Rolan', 3.0, 770.0, 9.0, 3.0, 0.0, 0.0, 32.0),
 ('Adalberto Penaranda', 2.5, 721.0, 10.0, 0.0, 0.0, 0.0, 21.0),
 ('Borja Baston', 3.0, 703.0, 6.0, 1.0, 0.0, 0.0, 22.0),
 ('Youssef En-Nesyri', 2.5, 217.0, 1.0, 0.0, 0.0, 0.0, 9.0)]

In [213]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])

In [214]:
df.to_csv('malaga.csv',index=False)

In [215]:
url = 'https://www.fantasy-liga.com/en/team-profile/Levante/13'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Raul Fernandez', 2.5, 990.0, 11.0, 0.0, 0.0, 3.0, 34.0),
 ('Oier Olazabal', 2.0, 540.0, 6.0, 0.0, 0.0, 3.0, 20.0),
 ('Mitchell Langerak', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Chema Rodriguez', 6.5, 1432.0, 16.0, 1.0, 0.0, 7.0, 56.0),
 ('Sergio Postigo', 5.0, 1392.0, 16.0, 0.0, 0.0, 6.0, 44.0),
 ('Tono', 3.5, 1080.0, 12.0, 0.0, 1.0, 4.0, 38.0),
 ('Pedro Lopez', 2.5, 785.0, 9.0, 0.0, 0.0, 3.0, 27.0),
 ('Rober Pier', 2.0, 658.0, 6.0, 0.0, 0.0, 2.0, 17.0),
 ('Antonio Luna', 2.0, 526.0, 5.0, 0.0, 1.0, 2.0, 19.0),
 ('Shaquell Moore', 2.5, 423.0, 5.0, 0.0, 0.0, 2.0, 16.0),
 ('Erick Cabaco', 2.0, 183.0, 2.0, 0.0, 0.0, 1.0, 6.0),
 ('Ivan Lopez', 2.0, 175.0, 3.0, 0.0, 1.0, 1.0, 13.0),
 ('Coke', 4.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Jose Campana', 5.0, 1342.0, 16.0, 0.0, 0.0, 6.0, 35.0),
 ('Jose Luis Morales', 5.0, 1237.0, 14.0, 2.0, 2.0, 6.0, 52.0),
 ('Enis Bardhi', 6.0, 1082.0, 12.0, 4.0, 0.0, 4.0, 50.0),
 ('Jefferson Lerma', 2.0, 827.0, 10.0, 0.0, 0.0, 3.0, 17.0),
 ('Cheick Doukoure', 2.0, 392.0, 4.0, 1.0, 0.0, 1.0, 22.0),
 ('Samu Garcia', 2.0, 183.0, 2.0, 0.0, 0.0, 1.0, 12.0),
 ('Sasa Lukic', 2.0, 147.0, 2.0, 0.0, 0.0, 1.0, 5.0),
 ('Moctar Sidi El Hacen', 2.5, 82.0, 1.0, 0.0, 0.0, 1.0, 4.0),
 ('Youssouf Yalike', 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Jason', 3.0, 927.0, 12.0, 1.0, 0.0, 0.0, 30.0),
 ('Ivi', 5.0, 802.0, 7.0, 1.0, 2.0, 0.0, 35.0),
 ('Alex Alegria', 2.0, 632.0, 8.0, 0.0, 0.0, 0.0, 18.0),
 ('Emmanuel Boateng', 2.0, 305.0, 1.0, 0.0, 0.0, 0.0, 7.0),
 ('Nano Mesa', 2.5, 263.0, 2.0, 0.0, 0.0, 0.0, 8.0),
 ('Roger Marti', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)]

In [216]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])

In [217]:
df.to_csv('lev.csv',index=False)

In [218]:
url = 'https://www.fantasy-liga.com/en/team-profile/Las-Palmas/11'
r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
res = soup.find_all('table',attrs={'class':'tablesorter'})
fr = res[0]
results = fr.find_all('tr')
results = results[1:]
records = []
for r in results:
    name = r.select('td')[3].text
    val = float(r.select('td')[4].text)
    mins = float(r.select('td')[5].text)
    starts = float(r.select('td')[6].text)
    goals = float(r.select('td')[8].text)
    assists = float(r.select('td')[13].text)
    clean_sheet = float(r.select('td')[17].text)
    points = float(r.select('td')[18].text)
    records.append((name,val,mins,starts,goals,assists,clean_sheet,points))
    
records

[('Leandro Chichizola', 2.0, 900.0, 10.0, 0.0, 0.0, 1.0, 18.0),
 ('Raul Lizoain', 2.0, 630.0, 7.0, 0.0, 0.0, 1.0, 15.0),
 ('Mauricio Lemos', 3.5, 1217.0, 13.0, 0.0, 0.0, 2.0, 25.0),
 ('Dani Castellano', 4.0, 1170.0, 13.0, 0.0, 2.0, 2.0, 34.0),
 ('Ximo Navarro', 2.5, 1121.0, 12.0, 0.0, 1.0, 1.0, 24.0),
 ('Michel Macedo', 3.0, 1064.0, 13.0, 0.0, 0.0, 2.0, 28.0),
 ('Pedro Bigas', 2.5, 805.0, 10.0, 0.0, 0.0, 1.0, 16.0),
 ('David Simon', 2.0, 438.0, 4.0, 0.0, 0.0, 0.0, 7.0),
 ('Alejandro Galvez', 2.0, 360.0, 4.0, 1.0, 0.0, 1.0, 14.0),
 ('Borja Herrera', 2.0, 242.0, 3.0, 0.0, 0.0, 0.0, 4.0),
 ('Aythami Artiles', 2.0, 183.0, 2.0, 0.0, 0.0, 0.0, 6.0),
 ('David Garcia', 2.0, 180.0, 2.0, 0.0, 0.0, 0.0, 2.0),
 ('Jonathan Viera', 11.3, 1364.0, 16.0, 2.0, 3.0, 2.0, 54.0),
 ('Alberto Aquilani', 3.0, 809.0, 9.0, 0.0, 0.0, 1.0, 22.0),
 ('Javi Castellano', 3.0, 796.0, 9.0, 0.0, 0.0, 2.0, 26.0),
 ('Vicente Gomez', 2.5, 580.0, 6.0, 0.0, 0.0, 1.0, 18.0),
 ('Hernan Santana', 2.0, 351.0, 4.0, 0.0, 0.0, 0.0, 10.0),
 ('Momo', 2.0, 232.0, 3.0, 0.0, 1.0, 0.0, 11.0),
 ('Alen Halilovic', 2.0, 191.0, 3.0, 0.0, 1.0, 0.0, 7.0),
 ('Sergi Samper', 2.0, 145.0, 2.0, 0.0, 0.0, 0.0, 4.0),
 ('Fabio Gonzalez', 2.0, 65.0, 1.0, 0.0, 0.0, 0.0, 1.0),
 ('Benito Ramirez', 2.0, 14.0, 0.0, 0.0, 0.0, 0.0, 1.0),
 ('Gabriel Penalba', 4.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Jairo Samperio', 4.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Jonathan Calleri', 6.5, 1439.0, 16.0, 3.0, 0.0, 0.0, 47.0),
 ('Tana', 4.5, 842.0, 9.0, 1.0, 1.0, 0.0, 27.0),
 ('Loic Remy', 3.5, 671.0, 5.0, 4.0, 0.0, 0.0, 32.0),
 ('Oussama Tannane', 2.0, 553.0, 7.0, 0.0, 0.0, 0.0, 17.0),
 ('Hernan Toledo', 2.0, 170.0, 1.0, 0.0, 0.0, 0.0, 6.0)]

In [219]:
df = pd.DataFrame(records,columns=['DecodedName','FantasyLeagueVal','C_Mins','C_Apps','C_Goals','C_Assists','C_Clean_Sheets','FantasyLeaguePoints'])

In [220]:
df.to_csv('LasPalmas.csv',index=False)

In [222]:
f = pd.read_csv('final.csv')

In [223]:
f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316 entries, 0 to 315
Data columns (total 30 columns):
Age                    316 non-null float64
Assists                316 non-null float64
C_Apps                 316 non-null float64
C_Assists              316 non-null float64
C_Clean_Sheets         316 non-null float64
C_Goals                316 non-null float64
C_Mins                 316 non-null float64
Clean Sheets           20 non-null float64
Club                   316 non-null object
Club_Appearances       316 non-null float64
Country                316 non-null object
Current_Value          316 non-null object
F_Def                  316 non-null float64
F_Drib                 316 non-null float64
F_Pace                 316 non-null float64
F_Passing              316 non-null float64
F_Phy                  316 non-null float64
F_Rating               316 non-null float64
F_Shooting             316 non-null float64
F_WRate                316 non-null object
FantasyLeaguePoints    316 non-null float64
FantasyLeagueVal       316 non-null float64
Goals                  316 non-null float64
Goals_per_game         316 non-null object
Mins_per_goal          231 non-null float64
Minutes_played_club    316 non-null float64
Name                   316 non-null object
Position               316 non-null object
Previous_Value         316 non-null object
Wiki_Views             268 non-null object
dtypes: float64(21), object(9)
memory usage: 74.1+ KB